/* .sp {
  background-color: #ffd1d1;
}
.sal {
  background-color: #fff3c9;
}
.foz {
  background-color: #d7f9f3;
}
.fort {
  background-color: #ffd9c9;
}
.ara {
  background-color: #f7ecff;
}
.man {
  background-color: #e2ffd4;
}
.cap {
  background-color: #ffecec;
} */
